/* css file for Assignment 2
 *
 */
html, body {
    height : 100%;
    font-size: 0.875em;
    font-family: Helvetica;
    margin : 0;
    padding: 0;
}
#map {
     height : 100%;
     width: 100%;
}
